.plugincomp {
  font-family: "Helvetica Neue", Helvetica, SansSerif;
  position: relative;
  overflow: auto;
  font-size: 14px;
}

.croptext {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 99%;
    overflow: hidden;
}

.theme-black {
  .bullet-charts-container {
    .group.label {
      fill:#fff;
      color:#fff;
    }
  }
}

.bullet-charts-container {

  rect {
    stroke: none;
  }

  .label-wrapper span{
    vertical-align: middle;
    display: inline-block;
  }

  .label {
    fill: #000000;
    color: #000000;
    font-weight: 300;
    text-shadow: none;
    text-anchor: start;
    height: 100%;
    text-align: left;
    padding-left: 5px;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }

  }


  .label.current {
    fill: #A6A9A8;
    color: #A6A9A8;
    font-weight: 200;
    text-align: right;
    font-size: .9em;
  }


  .threshold {
    opacity: 0.75;
  }
  .axis {
    line, path {
      fill: none;
      stroke: #BEC0BF;
    }
    text {
      .label.current;
    }
  }
}
